@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

:root {
    --circle_size: 175vw;
    --arrow_size: 200vw;
}

html {
    height: 100%;
}

body {
    background-color: #181a15;
    font-family: 'Mukta', sans-serif;

    margin: 0px;
    padding: 0px;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meter {
    background-color: black;
    height: 50%;
    bottom: 0;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
}

.circle {
    position: fixed;
    top: 630px;

    width: var(--circle_size);
    height: var(--circle_size);

    border-radius: 100%;
    background-color: #428c6c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {

    align-self: center;
    width: 10px;
    height: var(--arrow_size);
    background-color: #42473e;
    border-radius: 9px;

    border: #e26635 0px solid;
    border-top-width: 50px;

    transform: rotate(-20deg);
    /* -20 to 20 */

    /* transition: transform 1s ease-in; */
}
.up_body{
    justify-content: center;
    align-items: center;
}
.percentage_div{
    align-items: center;
    display: flex;
    height: 270px;

    background-color: #8a8e86;
}
.sm{
    font-size: medium;
    color: #000;
    background-color: #ffffff;
    font-weight: bolder;

    height: 25px;

    margin-bottom: 20px;
    margin-left: 4px;
    padding-left: 6.5px;
    padding-right: 6.5px;

    border-radius: 100px;
}

#measure{
    letter-spacing: 0.4px;
    position: absolute;
    margin-top: 55vh;
    color: #8a8e86;
    word-spacing: 5px;
}

#cpu_tag{
    position: absolute;
    margin-top: 12vh;
    text-align: center;

    color: #8a8e86;
    word-spacing: 8px;

    font-size: 25px;

    justify-content: center;
    align-items: center;
}

#text_percent{
    
    color: #ffffff;
    font-size: 150px;
    font-weight: 900;
    align-self: center;
    
}



